/**CSS for POSTS*/
.postCard{
    min-height: 700px;
    scrollbar-width: none;
    background-color: rgb(253, 253, 253);
}


.bordered{
    border-radius: 5px;
    /* border: 2px solid rgb(225, 225, 225); */
    box-shadow: 0 0 10px rgb(217, 217, 217);
}

.postCard button{
    float: inline-end;
    position: relative;
    text-align: center;
    overflow: hidden;
    margin: 10px;
    bottom: 20px;
    top: 600px;
    border: 2px solid rgb(225, 225, 225);
    
}

.bordered h4{
    font-weight: bold;
    text-align: start;
    padding-inline-start: 1em;
}

/* CSS for Post*/
.postcontainer{
    width: 90%;
    display: flex;
    align-self: center;
    min-width: 530px;
    overflow: hidden;
    min-height: 170px;
    box-sizing: border-box;
    overflow-y: visible;
    height: 170px;
    margin: 10px 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

.rest{
    width: 90%;
    margin-left: 20px;
    padding-top: 10px;
    overflow: hidden;
    /* To get the above border */
    box-shadow: 0 11px 2px -10px #c9c6c6 inset;
    /* border-top:  #d0d0d0 1px solid; */
}

.info{
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
}


.profilephoto{
    border-radius: 50%;
    width: 40px;
    text-shadow: 0 0 5px rgb(251, 251, 251);
    height: 40px;
    text-align: center;
    margin: 15px 10px;
    background-color: antiquewhite;
    cursor: pointer;
}
.profilephoto h3{
    height: 100%;
    width: 100%;
    margin: 0;
    text-align: center;
    display: flex;
  align-items: center;
  justify-content: center;
}

.profileusername{
    width: max-content;
    height: 30px;
    display: flex;
    align-items: center;
    font-weight: 600;
    padding-inline-start: 10px;
    text-align: start;
    overflow: hidden;
}
.profileusername p{
    cursor: pointer;
}
.profileusername p:hover{
    text-decoration: underline;
}

.name{
    font-weight: normal;
    font-size: 12px;
    color: #5b5959;
    cursor: pointer;
}
.name:hover{
    text-decoration: underline;
}
.pfnamePost a{
    color: #7c7a7a;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    color: #0D47A1;
}
.postcont{
    min-height: 55vh;
}

.messagebox{
    width: 100%;
    box-sizing: border-box;
    color: #999;
    cursor: pointer;
    overflow: hidden;
    height: 74px;
    font-size: 13px;
    text-align: left;
    padding:0.5em 0 ;
    overflow: hidden;
    /* text-shadow: -1px 0px 1px #dfdcdc; */
    padding-inline-start: 10px;
}

.messagebox p{
    margin: 0;
    width: 100%;
    max-lines: 4;
    max-height: 70px;
    display: block;
    text-align: justify;
    line-break: auto;
    overflow-y: hidden;
    line-height: 1.5em;
}

.boxpost{
    max-lines: 100;
    height: fit-content;
    max-height: 100vh;
    font-size: 13px;
    box-shadow: none;
}

.boxpost p{
    max-height: none;
}

.bottombar{
    width: 100%;
    height: 20px;
    margin-top: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.spbuttons{
    display: flex;
    width: fit-content;
    height: 20px;
    align-items: center;
    margin: 0 10px;
}
.bottombardim{
    width:20px;
    height:20px;
}

/* Comments*/
.postBox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.commentContainer{
    width: 80%;
    margin: 20px 0;
}
.commentContainer p{
    margin: 5px 2em;
    text-align: start;
    font-weight: bold;
}
.commentSection{
    width: 100%;
    display: flex;
    justify-content: center;
    height: fit-content;
    padding: 5px 2em;
}

@media(max-width:400px){
    .info center .profileusername{
        width: 90%;
        font-size: 12px;
        height: fit-content;
        line-break: loose;
    }
}

@media(max-width:1000px){
    .rest{
        margin-left: 0;
        width: 80%;
        padding-inline-end: 5px;
    }
    .postCard{
        width: 100%;
    }
    .bordered{
        padding-inline-start: 0;
    }
    .postcontainer{
        min-width: 0;
        margin: 10px 0;
        width: 100%;
        min-height: 140px;
        height: 140px;
    }
    .profilephoto{
        margin: 10px 10px ;
    }
    .info{
        height: fit-content;
    }
    .bottombar{
        height: 15px;
        margin: 0;
        font-size: small;
    }
    .commentSection{
        padding: 5px 10px;
    }
    .postcont{
        min-height: 55vh;
        max-height: 100vh;
        height: auto;
    }
    
    .spbuttons{
        display: flex;
        width: fit-content;
        height: 15px;
        align-items: center;
        margin: 0 10px;
    }
    .bottombardim{
        width:15px;
        height:15px;
    }
    .messagebox{
        font-size: 10px;
        padding: 2px;
    }
    .messagebox p{
        line-height: 1em;
        max-height: 60px;
        font-size: 11px;
        line-height: 13px;
    }
    .name{
        font-weight: normal;
        font-size: 9px;
        color: #5b5959;
        cursor: pointer;
        height: 15px;
        padding: 3px 10px;
        margin: 3px 0;
    }
    .profileusername{
        height: 18px;
    }
    .profileusername a{
        padding: 10px 0;
    }
    .username{
        height: 30px;
    }
    .boxpost{
        max-lines: 100;
        height: fit-content;
        max-height: none;
        font-size: 13px;
        box-shadow: none;
    }
    .boxpost p{
        max-height: none;
    }
}
