.usernav{
  position: relative;
  width: 8vw;
  min-width: 6em;
  overflow-y: visible;
  left: 5px;
  overflow-x: visible;
  padding: 0;
  height: fit-content;
  padding: 3px;
  transition: 0.5s;
  box-shadow: inset 0 0 3px #999;
}


.usernav li{
  position: relative;
  font-size: 11px;
  overflow-y: visible;
  list-style: none;
  width: 100%;
  padding:15px  5px;
  background-color: #fff;
  transition: 0.5s;
}
.usernav li:hover{
  background: #33a3ee;
  transform: translateX(-25px);
}

.usernav li a{
  text-decoration: none;
  color: #999;
  display: block;
  overflow-y: visible;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition:0.5s;
}

.usernav li a:hover{
  color: #fff;
}


@media(max-width:1000px){
  .usernav{
    width: 100vw;
    display: flex;
    height: 5vh;
    overflow-x: scroll;
    margin: 0;
    padding: 2px;
    overflow-y: visible;
    left: 0;
  }
  .usernav li{
    height: 100%;
    padding:5px  15px;
    overflow-y: visible;
    box-shadow: inset 0 0 1px #999;
    width: auto;
    transition: 1s;
  }
  .usernav li:hover{
    transform: translateY(25px);
    z-index: 3;
    scale: 100;
    background-color: #33a3ee;
  }
}