@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.App {
  text-align: center;
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  /* background-color: rgba(0, 0, 0, 0.142); */
  /* background-image: url('./assests/back2.jpg') */
  
}
::-webkit-scrollbar {
  display: none;
}

.cursor{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  position: fixed;
  z-index: -1;
  background: linear-gradient(#fff,#fb0404);
  animation: animate linear 5s infinite;
}

@keyframes animate{
  0%{
    filter: hue-rotate(0deg) blur(50px);
  }
  100%{
    filter: hue-rotate(360deg) blur(50px);
  }
}

.Mainarena{
  display: flex;
  overflow-x: visible;
  transition: all 0.5s;
  overflow-x: hidden;
  background-color: rgba(0, 0, 0, 0.038);
}

* {
  box-sizing: border-box;
  overflow-y: scroll;
  font-family: 'Poppins', sans-serif;

}

@media(max-width:1000px){
   .Mainarena{
    min-width: 0;
    display: block;
    width: 100vw;
   }
}


